---
import Layout from '../layouts/Layout.astro';
import NavPets from '../components/NavPets.astro'
import HeroPets from '../components/HeroPets.astro'
import ServicesPets from '../components/ServicesPets.astro'
import FormPets from '../components/FormPets.astro';
---

<Layout title="Pets Page">
	<main>
		<NavPets/>
		<HeroPets />
		<ServicesPets />
		<FormPets />
	</main>
</Layout>

<style>
	main {
		
	}
	
</style>
