---
import Layout from '../layouts/Layout.astro';
import NavPets from '../components/NavPets.astro'
import HeroPets from '../components/HeroPets.astro'
---

<Layout title="Pets Page">
	<main>
		<NavPets/>
		<HeroPets />
	</main>
</Layout>

<style>
	main {
		
	}
	
</style>
