---

---

<section id="form" class="min-h-screen w-full grid place-content-center bg-[var(--color-disable-dark)]">
    <form class="col-start-2 col-end-3 row-start-2 row-end-3 w-[90%] m-auto h-full grid gap-6 z-10 place-content-center" action="" method="post">
        <div id="textContainer">
            <h2 class="text-4xl font-bold text-center">Be the first to know</h2>
            <p class="text-center text-sm font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div id="emailContainer">
            <label class="text-2xl text-left pl-4 font-medium" for="email">Email:</label>
            <input class="py-2 px-4 rounded-3xl text-2xl w-full bg-[var(--bg-over-dark)] text-center" type="email" name="email" id="email">
        </div>
        <button class="text-2xl bg-[var(--accent-dark)] rounded-3xl py-2 px-4 border border-[var(--bg-dark)] hover:bg-[var(--bg-dark)] duration-300 hover:border-[var(--accent-dark)]" type="submit">
            Submit
        </button>
    </form>
    <img class="col-start-2 col-end-3 row-start-2 row-end-3 h-full w-full object-cover z-0" src="/bg-form-pets.png" alt="">
</section>

<style>
    section{
        grid-template-columns: 5% minmax(90%, 1024px) 5%;
        grid-template-rows: 10% minmax(90%, 768px) 10%;
    }
</style>

<!--
clip-path: polygon(0 100%, 0 74%, 15% 60%, 100% 91%, 100% 100%);
clip-path: polygon(0 100%0 100%, 0 92%, 0 92%, 16% 82%, 16% 82%, 100% 100%, 100% 100%);
 -->