---

---

<section class="min-h-screen w-full grid place-content-center">
    <form class="w-full h-full" action="" method="post"></form>
</section>

<style>
    form{
        background-image: url('/bg-form-pets.png');
    }
</style>