---

---

<header class="min-h-[calc(100dvh_-_5rem)] w-full bg-[var(--bg-dark)] relative px-[5%] grid overflow-hidden pt-6 gap-6 text-center justify-items-center md:place-items-center md:content-center">
    <h1 class="text-6xl z-20">
        <strong class="text-[var(--accent-dark)]">Pets</strong> for everyone
    </h1>
    <p class="text-3xl z-20">
        Lorem ipsum dolor sit.
    </p>
    <a class="py-[6px] px-8 bg-[var(--accent-dark)] text-center rounded-3xl text-2xl font-bold z-20" href="#">Join Us</a>
    <img src="/Hero-section-web.png" class="absolute h-4/6 right-0 bottom-0 object-cover object-right-bottom md:w-full md:bottom-0 md:object-contain md:h-auto" alt="hero pic Pets">
</header>

<style>
    header{
        grid-auto-rows: min-content;
    }


   
</style>