---

---

<header class=" min-h-[calc(100dvh_-_5rem)] w-full bg-[var(--bg-dark)] relative px-[5%] grid overflow-hidden place-content-center">
    <h1 class="text-5xl z-20">
        <strong>Pets</strong> for everyone
    </h1>
    <p class="text-2xl z-20">
        Lorem ipsum dolor sit.
    </p>
    <a class="z-20" href="#">Join Us</a>
    <img src="/hero-bg-720.png" class="absolute h-3/5 right-0 bottom-0 object-cover object-right-bottom" alt="hero pic Pets">
</header>